body {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
	background-color: #FFF7F8;
}
#navbarSupportedContent ul.nav li h1:hover { text-decoration: none;  }
h1 { color: #9a89bb; }
h1:active, h1:hover { color: #65518d !important; }

.list-custom-inline li {
    display: inline-block;
    padding-right: 10px;
}

li h1{
    color: #65518d;
	font-style: oblique
}
li h1:hover{
    color: #65518d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5DCDC;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	border-radius: 25px;
  padding: 20px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
	border-radius: 25px;
  padding: 20px;
}

.dropdown-content a:hover {
  background-color: #F5E6DC;
}

.fixed-btn{
	position: fixed;
	background: #6CB4EE;
	width: 300px;
	height: 60px;
	line-height: 0px;
	bottom: 10%;
	right: 3%;
	border-radius: 3px;
	text-align: center;
	box-shadow: 4px 4px 4px #0a78aa;
	cursor: pointer;
}

.fixed-btn p{
	text-transform: uppercase;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: 900;
	color: beige;
	font-size: 40px;
}

.fixed-btn:active{
	box-shadow: 0 0 ;
}

@font-face {
	font-family: bubble;
	src: url("font/RubikBubbles-Regular.ttf");
}

h2{
    font-family: bubble, serif;
    font-weight: 900;
    color: #097782;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
}

@font-face{
	font-family: burik;
	src: url("font/Rubik/Rubik-Italic-VariableFont_wght.ttf");
}

p{
    font-family: burik, serif;
    font-weight: 400;
    color: #5E819E;
    text-align: center;
    font-size: 50px;
}
p1{
    font-family: burik, serif;
    font-weight: 400;
    color: #33A3AC;
    text-align:left;
    font-size: 50px;
}
p2{
    font-family: burik, serif;
    font-weight: 400;
    color: #143434;
    text-align: left;
    font-size: 30px;
}
p3{
    font-family: burik, serif;
    font-weight: 400;
    color: #3ABEC9;
    text-align: left;
    font-size: 30px;
}
p4{
    font-family: burik, serif;
    font-weight: 400;
    color: #3ABEC9;
    text-align: left;
    font-size: 60px;
}
@font-face{
	font-family: kanit regular;
	src: url("font/kanit/Kanit-Regular.ttf")
}

e{
	font-family: kanit regular, serif;
    font-weight: 400;
    color: #5E819E;
    text-align: center;
    font-size: 50px;
}

e2{
	font-family: kanit regular, serif;
    font-weight: 400;
    color: #5E819E;
    text-align: center;
    font-size: 20px;
}

@font-face{
	font-family: kanit light;
	src: url("font/kanit/Kanit-LightItalic.ttf")
}

l{
	font-family: kanit light, serif;
    font-weight: 400;
    color: #5E819E;
    font-size: 40px;
	text-align: center;
}

img{
	mix-blend-mode: multiply;
}

.underline{
	text-decoration: none;
}

v{
	position: fixed
}

a[title]::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

a[title]:hover::after {
  opacity: 1;
}

@font-face{
	font-family: kanit extralight;
	src: url("font/kanit/Kanit-ExtraLightItalic.ttf")
}

wl{
	font-family: kanit extralight, serif;
    font-weight: 400;
    color: #5E819E;
    font-size: 40px;
	text-align: center;
}
a {
	text-decoration: none;
}