body {
	background-color: #f8fafc;
}

/*.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 40rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 3 / 2;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
	animation: slideShow 5s infinite;
}


.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: all 0.4s ease;
}

.slider-nav a:hover {
	opacity: 1;
}

@keyframes slideShow {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}*/
.section{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.slide{
	width: 500%;
	height: 500px;
	display: flex;
}
.slide input{
	display: none;
}
.st{
	width: 20;
	transition: 2s;
}
.st img{
	width: 800px;
	height: 500px;
}
.nav-m{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	justify-content: center;
	display: flex;
}
.m-btn{
	border: 2px solid #23e3c2;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.m-btn:not(:last-child){
	margin-right: 30px;
}
.m-btn:hover{
	background-color: #23e3c2;
}
#radio1:checked ~.first{
	margin-left: 0;
}
#radio2:checked ~.first{
	margin-left: -20%;
}
#radio3:checked ~.first{
	margin-left: -40%;
}
#radio4:checked ~.first{
	margin-left: -60%;
}
.nav-auto{
	position: absolute;
	width: 800px;
	margin-top: 460px;
	display: flex;
	justify-content: center;
}
.nav-auto div{
	border: 2px solid #23e3c2;
	padding: 5px;
	border-radius: 10px;
	transition: 1s; 
}
.nav-auto div:not(:last-child){
	margin-right: 30px;
	justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
	background-color: #23e3c2;
}
#radio1:checked ~ .nav-auto .a-b2{
	background-color: #23e3c2;
}
#radio1:checked ~ .nav-auto .a-b3{
	background-color: #23e3c2;
}
#radio1:checked ~ .nav-auto .a-b4{
	background-color: #23e3c2;
}





















